.nav-link {
  padding: 0rem;
}

.nav-item.active {
  background-color: #474c52;
  border-radius: 0.8rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-links {
  display: flex;
  justify-content: space-around;
}

.table a {
  color: white;
  box-shadow: lightblue;
}

#profile-phone {
  display: none;
}
#profile-desktop {
  display: inline;
}

#settings-phone {
  display: none;
}
#settings-desktop {
  display: inline;
}

#teams-table-phone {
  display: none;
}

#player_hidden_div {
  display: none;
}

@media only screen and (max-width: 600px) {

  #profile-phone {
    display: inline;
  }
  #profile-desktop {
    display: none;
  }

  #teams-table-phone {
    display: block;
  }
  #teams-table-desktop {
    display: none;
  }

  #settings-phone {
    display: inline;
  }
  #settings-desktop {
    display: none;
  }
}