.nav-link {
  padding: 0rem;
}

.nav-item.active {
  background-color: #474c52;
  border-radius: 0.8rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-links {
  display: flex;
  justify-content: space-around;
}

.table a {
  color: white;
  box-shadow: lightblue;
}

/*  */
#profile-phone {
  display: none;
}
#profile-desktop {
  display: inline;
}
#settings-phone {
  display: none;
}
#settings-desktop {
  display: inline;
}
#player_hidden_div {
  display: none;
}
#stat-title-name {
  display: none;
}
#stat-title-val {
  display: none;
}
#outlook-title-name {
  display: none;
}
#outlook-title-val {
  display: none;
}

@media only screen and (max-width: 991px) {

  #profile-phone {
    display: inline;
  }
  #profile-desktop {
    display: none;
  }

  #settings-phone {
    display: inline;
  }
  #settings-desktop {
    display: none;
  }
}