{% extends 'html_base.html' %}

{% block navbar %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-danger justify-content-start p-0">
    <p class="navbar-brand d-flex align-self-center font-weight-bold m-0 p-0">Fantasy Football Trade Tips</p>
    {% if 'user_id' in session %}
    <a class="nav-link ml-auto text-light" id="profile-phone" href="/profile"><i class="fas fa-user"
            data-toggle="tooltip" data-placement="bottom" title="Profile"></i></a>
    <a class="nav-link ml-auto text-light" id="settings-phone" href="/sign-out"><i class="fas fa-sign-out-alt"
            data-toggle="tooltip" data-placement="bottom" title="Sign Out"></i></a>
    {% endif %}
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar-toggler"
        aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-toggler">
        <ul class="navbar-nav ml-4 mt-lg-0" id="navbar-left-items">
            <li class="nav-item {% block home_active %}{% endblock %} text-center">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% if 'user_id' in session %}
            <li class="nav-item {% block leagues_active %}{% endblock %} text-center">
                <a class="nav-link" href="/leagues">My Leagues</a>
            </li>
            <li class="nav-item {% block news_active %}{% endblock %} text-center">
                <a class="nav-link" href="/recent-news">Recent News</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-lg-0" id="navbar-right-items">
            <li class="nav-item" id="profile-desktop">
                <a class="nav-link" href="/profile"><i class="fas fa-user" data-toggle="tooltip" data-placement="bottom"
                        title="Profile"></i></a>
            </li>
            <li class="nav-item" id="settings-desktop">
                <a class="nav-link" href="/sign-out" data-toggle="tooltip" data-placement="bottom" title="Sign Out"><i
                        class="fas fa-sign-out-alt"></i></a>
            </li>
            {% else %}
            <li class="nav-item {% block log_sign_active %}{% endblock %} text-center">
                <a class="nav-link" href="/login">Login/Sign Up</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}
{% block footer %}
<br><br><br><br>
<footer class="footer bg-danger">
    <div class="row">
        <div class="col-4">
            <p class="h6 ml-3">Leshawn Rice 2020</p>
        </div>
        <div class="col-8 footer-links">
            <a href="https://github.com/leshawn-rice" target="_blank" class="text-dark" data-toggle="tooltip"
                data-placement="top" title="Github"><i class="fab fa-github"></i></a>
            <a href="https://linkedin.com/in/leshawn-rice" target="_blank" class="text-primary" data-toggle="tooltip"
                data-placement="top" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
            <a href="/contact" class="text-light" data-toggle="tooltip" data-placement="top" title="Contact Us"><i
                    class="fas fa-inbox"></i></a>
            <a href="/about" class="text-light" data-toggle="tooltip" data-placement="top" title="About"><i
                    class="fas fa-users"></i></a>
        </div>
    </div>
</footer>

{% endblock %}