{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block home_active %}active{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} text-center">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<h1 class="display-3 text-center">Welcome to Fantasy Football Trade Tips v1</h1>

<div class="row justify-content-center h-100">
    <div class="col-12 col-md-6 h-100">
        <img src="/static/img/player.jpg" alt="Player Profile Demo" class="img-fluid my-3">
    </div>
</div>


<p class="lead text-center">Here you can add your ESPN Fantasy Football leagues, look at player stats, get
    trade suggestions, and simulate trades! Trade suggestions, stats, player ranks, and player grades are based on your
    league's specific scoring!</p>

{% endblock %}