{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block home_active %}active{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} text-center">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="jumbotron my-1 text-dark">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This is the current working test for my capstone 1.</p>
    <hr class="my-4">
    <p>I need to finish trade suggestion functionality</p>
    <p>I need to add league, team, player, and profile pages</p>
    <p>I need to redo the design for the site.</p>
    <hr class="my-4">
    <p>Other than that this capstone is mostly done!</p>
    <ul class="text-center">
        {% for link in links %}
        <li class="nav-link">{{link|safe}}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}