{% extends 'base.html' %}

{% block title %}{{league.name}}{% endblock %}


{% block content %}
<div class="text-center display-1">{{league.name}}</div>

<div class="row justify-content-between text-center">

    <h1 class="display-4">Your Team</h1>
    <table class="table table-striped">
        <thead>
            <tr class="bg-primary text-light">
                <th>Name</th>
                <th>Record</th>
                <th>Points</th>
                <th>Waiver Position</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/teams/{{user_team.id}}" class="bg-secondary rounded">{{user_team.team_name}}</a></td>
                <td>{{user_team.record}}</td>
                <td>{{user_team.points}}</td>
                <td>{{user_team.waiver_position}}</td>
            </tr>
        </tbody>
    </table>

    <br><br><br>

    <table class="table table-striped" id="teams-table-desktop">
        <thead>
            <tr class="bg-danger text-light">
                <th>Team Name</th>
                <th>Team Record</th>
                <th>Team Points</th>
                <th>Team Waiver Position</th>
                <th>Team Logo</th>
            </tr>
        </thead>
        <tbody>
            {% for team in league.teams %}
            <tr>
                <td><a href="/teams/{{team.id}}" class="bg-secondary rounded">{{team.team_name}}</a></td>
                <td>{{team.record}}</td>
                <td>{{team.points}}</td>
                <td>{{team.waiver_position}}</td>
                <td><img class="img-fluid" src="{{team.logo_url}}" alt="{{team.team_name}} logo" width=50 height=50>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table table-striped" id="teams-table-phone">
        <thead>
            <tr class="bg-danger text-light">
                <th>Team Name</th>
                <th>Team Record</th>
                <th>Team Points</th>
            </tr>
        </thead>
        <tbody>
            {% for team in league.teams %}
            <tr>
                <td><a href="/teams/{{team.id}}" class="bg-secondary rounded">{{team.team_name}}</a></td>
                <td>{{team.record}}</td>
                <td>{{team.points}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="/add-league" method="POST">
        <input name="league_id" type="text" value="{{league.league_id}}" hidden />
        <input name="year" type="text" value="{{league.year}}" hidden />
        <button class="btn btn-warning m-2">Refresh League Stats!</button><span class="small">* This
            will
            bring you to the add a league page. Simply press enter upon arrival!</span>
    </form>

</div>

{% endblock %}