{% extends 'base.html' %}

{% block title %}{{user.username}}{% endblock %}


{% block content %}
<p hidden id='user-id'>{{user.id}}</p>

<div class="row">
    <div class="col text-center">
        <h1 class="display-4 text-center" id='settings'>Your Profile</h1>
        <hr>
        <p class="lead"><strong>Username:</strong> {{user.username}} <a class="btn btn-sm btn-light"
                href="/users/{{user.id}}/change-username">Change
                Username</a></p>
        <p class="lead"><strong>Email:</strong> {{user.email}} <a class="btn btn-sm btn-light"
                href="/users/{{user.id}}/change-email">Change Email</a></p>
        <p class="lead"><strong>Password:</strong> ********** <a class="btn btn-sm btn-light"
                href="/users/{{user.id}}/change-password">Change Password</a></p>
        <p class="lead"><strong>Leagues:</strong></p>
        <ul class="text-center" style="list-style-type:none;">
            {% for league in user.leagues %}
            <li class="my-2"><a class="btn btn-success" href="/leagues/{{league.id}}">{{league.name}} |
                    {{league.num_teams}} Teams |
                    Week {{league.week}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-12 col-md-12">
        <h1 class="display-4 text-center">Saved Trades</h1>
        <table class="table table-striped text-light mr-5 text-center">
            <thead>
                <tr>
                    <th>Player To Trade</th>
                    <th>First Trade Suggestion</th>
                    <th>Second Trade Suggestion</th>
                    <th>Third Trade Suggestion</th>
                </tr>
            </thead>
            <tbody>
                {% for trade in trades %}
                <tr>
                    <td> <a href="/players/{{trade['Current Player'].id}}">{{trade['Current Player'].full_name}}</a>
                    </td>
                    <td> <a href="/players/{{trade['First Player'].id}}">{{trade['First Player'].full_name}}</a></td>
                    <td> <a href="/players/{{trade['Second Player'].id}}">{{trade['Second Player'].full_name}}</a></td>
                    <td> <a href="/players/{{trade['Third Player'].id}}">{{trade['Third Player'].full_name}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class=" row">
    <div class="col-12 text-center" id='delete-account'>
        <a class="btn btn-lg btn-outline-danger mt-2" href="/users/{{user.id}}/delete" id='delete-btn'>DELETE
            ACCOUNT</a>
    </div>
</div>

{% endblock %}