{% extends 'base.html' %}

{% block title %}{{player.full_name}}{% endblock %}

{% block content %}


<div class="row my-2 justify-content-center">
    <div class="col-12 col-md-4">
        <div class="card bg-dark text-light">
            <div class="card-header text-center">{{player.full_name}}</div>
            <div class="card-body text-center">
                <p class="h6">Points: {{player.points}}</p>
                <p class="h6">Projected Points: {{player.projected_points}}</p>
                <p class="h6">Grade: {{player.grade}}</p>

                {% for stat in player.stats %}
                <p class="lead">{{stat.stat_name}}: {{stat.stat_value}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}