{% extends 'base.html' %}

{% block title %}{{team.team_name}}{% endblock %}


{% block content %}

<div class="row">
    <div class="col-12 col-md-3">
        <img class="img-fluid shadow rounded mb-0 mr-0" src="{{team.logo_url}}" alt="{{team.team_name}} logo" width=350>
        <a class="btn btn-warning mt-2 btn-sm" href="/leagues/{{team.league.id}}">Back to {{team.league.name}}</a>
    </div>
    <div class="col-12 col-md-2">
        <p>Name: {{team.team_name}}</p>
        <p>Record: {{team.record}}</p>
        <p>Waiver Position: {{team.waiver_position}}</p>
        <p>Total Points: {{team.points}}</p>
        <p>Grade: {{team.grade}}</p>
    </div>
    <div class="col-12 col-md-7">
        <h2 class="display-4 text-center">Players</h2>
        <table class="table table-striped">
            <thead class="bg-light text-dark">
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>NFL Team</th>
                    <th>Points</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody class="text-light">
                {% for player in team.players %}
                <tr>
                    <td><a href="/players/{{player.id}}">{{player.full_name}}</a></td>
                    <td>{{player.position}}</td>
                    <td>{{player.pro_team}}</td>
                    <td>{{player.points}}</td>
                    <td>{{player.grade}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}