{% extends 'base.html' %}

{% block title %}{{team.location}} {{team.nickname}} {% endblock %}

{% block content %}

<div class="row">
    {% for player in team.players %}
    <div class="col-12 col-md-4 my-1">
        <div class="card bg-dark text-light">
            <div class="card-header text-center">{{player.full_name}}</div>
            <div class="card-body text-center">
                {% if player.player_id > 0 %}
                <img class="img-fluid"
                    src="https://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/{{player.player_id}}.png&w=200&h=200&cb=1"
                    alt="{{player.full_name}} Picture">
                {% else %}
                <img class="img-fluid" src="/static/dst.png" alt="{{player.full_name}} Picture" width=200 height=200>
                {% endif %}
            </div>
            <div class="card-footer text-center d-flex justify-content-between">
                <a href="/players/{{player.id}}" class="btn btn-success">View Player!</a>
                <a href="/trades/{{player.id}}" class="btn btn-primary">Trade Tips!</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}